* {
  box-sizing: border-box;
  font-family: system-ui;
}
a {
  text-decoration: none;
}
header a {
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
}
/* .main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */
header a:hover,
header a:focus {
  color: #fff;
  /* text-decoration: none; */
}
header {
  padding: 15px;
  text-align: center;
  background-color: #3d4070;
  display: flex;
  justify-content: space-between;
}
.membercard {
  width: 100%;
  border: 2px solid #3d4070;
  /* padding: 15px; */
  border-radius: 7px;
  overflow: hidden;
}
.membercard-info {
  padding: 15px;
}
.membercard h2 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.membercard p {
  margin-top: 5;
  margin-bottom: 0;
}
.membercard img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
body {
  padding: 0;
  margin: 0;
}
.memberlist {
  /* padding: 15px; */
  display: flex;
  /* gap: 15px; */
  flex-wrap: wrap;
  justify-content: center;
  min-height: calc(100vh - 124px);
  align-items: flex-start;
}
.searchbar {
  text-align: center;
  padding: 0;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
}
.col {
  padding: 7px 7px;
  width: 25%;
}

input {
  width: 70%;
  max-width: 600px;
  background-color: #fff;
  border: 1px solid #3d4070;
}
input,
button {
  padding: 10px;
  min-height: 50px;
  /* border-radius: 4px; */
  font-size: 16px;
  outline: none;
}
button {
  border: none;
  cursor: pointer;
  background-color: #3d4070;
  color: #fff !important;
}
.searchform {
  /* background-color: #3d4070; */
  padding: 10px;
  text-align: center;
  /* margin: 0 -12px; */
}
.loader-container {
  background-color: rgba(255, 255, 255, 0.2);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loading {
  width: 50px;
  height: 50px;
  border: 3px solid #3d407038;
  border-top-color: #3d4070;
  border-radius: 50%;
  animation: 1s ease-in-out infinite spin;
  display: inline-block;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
/* The switch - the box around the slider */
.switch {
  width: 50px;
  height: 24px;
  display: inline-block;
  position: relative;
  vertical-align: bottom;
  margin-right: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.themedark {
  background-color: #383940;
}
.text-white {
  color: #fff;
}
.loginform {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}

.loginform > input {
  margin-bottom: 15px;
  width: 100%;
}
.loginform button {
  width: 100%;
}
.flex {
  display: flex;
  align-items: center;
}
.header-userdetail {
  font-size: 12px;
  color: #fff;
}
.header-userdetail button {
  padding: 0 10px;
  margin: 0 15px;
  min-height: auto;
  background-color: red;

  /* color: red !important; */
}
.ml-auto {
  margin-left: auto;
}
